


<!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>{{operation}}</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" style="color: #757575;" >
            <!-- E-mail -->
            <div class="md-form mt-0">
                <label>First Name</label>
                <input type="hidden" name="employeeId" [(ngModel)]="empdata.employeeId"
                class="form-control" />
                <input type="text" name="employeeName" placeholder="Employee Name" [(ngModel)]="empdata.employeeName"
                 class="form-control" required #employeeName="ngModel" 
                 [ngClass]="{'has-danger': employeeName.invalid  && (employeeName.dirty || employeeName.touched), 
                 'has-success': employeeName.valid && (employeeName.dirty || employeeName.touched)}"
                  pattern="[A-Za-z].{4,}"/>
            </div>
            <div class="md-form mt-0">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="email" [(ngModel)]="empdata.email"
                     class="form-control" required #email="ngModel" 
                     [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched), 
                                 'has-success': email.valid && (email.dirty || email.touched)}" />
            </div>
<!-- 
            <div class="md-form mt-0">
                <label>Address</label>
                <input type="text" name="address" placeholder="Address" 
                [(ngModel)]="emp.address" class="form-control" required  #address="ngModel" 
                [ngClass]="{'has-danger': address.invalid && (address.dirty || address.touched), 
                            'has-success': address.valid && (address.dirty || address.touched)}" />
            </div> -->
 <!-- format="YYYY/MM/DD" -->
            <div class="md-form mt-0">
                <label>Date Of Birth</label>

                <input type="date" name="dob" placeholder="Date of Birth" 
                [(ngModel)]="empdata.dob" class="form-control" 
                required  #dob="ngModel" 
               
                [ngClass]="{'has-danger': dob.invalid && (dob.dirty || dob.touched), 
                            'has-success': dob.valid && (dob.dirty || dob.touched)}" />
            </div>

            <div class="md-form mt-0">
                <label>Date Of Joining</label>
                <input type="date" name="doj" placeholder="Date of Joining" 
                    [(ngModel)]="empdata.doj" class="form-control" required  #doj="ngModel" 
                    [ngClass]="{'has-danger': dob.invalid && (doj.dirty || doj.touched), 
                    'has-success': doj.valid && (doj.dirty || doj.touched)}" />
            </div>



            <!-- <div class="md-form mt-0">
                    <label>Country</label>
                    <select name="countryId" [(ngModel)]="emp.countryId" class="form-control"
                             style="height: 32px;" (change) = "populateState(userlogin.value.countryId)" 
                             required>
                        <option value="0">select Country</option>
                        <option *ngFor="let country of countrylist | sort : 'countryName'" [value]="country.countryId" [selected]="country.countryId==emp.countryId">{{country.countryName}}</option>
                    </select> 
            </div>
            <div class="md-form mt-0">
                    <label>State</label>
                    <select name="stateId" [(ngModel)]="emp.stateId" class="form-control" style="height: 32px;" (change) = "populateCity(userlogin.value.stateId)">
                            <option value="0">select State</option>
                            <option *ngFor="let state of statelist | sort : 'stateName'" [value]="state.stateId" [selected]="state.stateId==emp.stateId">{{state.stateName}}</option>
                    </select>  
            </div>
            <div class="md-form mt-0">
                    <label>City</label>
                    <select name="cityId" [(ngModel)]="emp.cityId" class="form-control" style="height: 32px;" >
                        <option value="0">select City</option>
                        <option *ngFor="let city of citylist | sort : 'cityName'" [value]="city.cityId" [selected]="city.cityId==emp.cityId">{{city.cityName}}</option>
                    </select> 
            </div> -->

            <div class="md-form mt-0" class="text-center">
                <input type = "submit" value = "submit" class="btn btn-info margin-button" [disabled]="!userlogin.valid && !issubmit"  />
            </div>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register -->










