
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>


<div class="container">
  <button  (click)="customerCrud(0)"  class="btn btn-info pull-right margin-a">Add Customer</button>

<table class="table table-striped" *ngIf="customerlist">
<tr>
  <td>Employee Id</td>
  <td>Employee Name</td>
  <td>Email</td>
  <td>Address</td>
  <td>Action</td>
</tr>
<tr *ngFor="let customer of customerlist">
  <td>{{customer.customerId}}</td>
  <td>{{customer.customerName}}</td>
  <td>{{customer.email}}</td>
  <td>{{customer.mobileNo }}</td>
  <td><button  (click)="customerCrud(customer.customerId)" class="btn btn-default btn-sm" >
    <span class="glyphicon glyphicon-edit"></span> Edit</button></td>
</tr>
</table>
</div>



<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->

    <!-- ['empid', 'empname', 'email', 'address','action']; -->
    <ng-container matColumnDef="empid">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.empid}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="empname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.empname}}% </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
